.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;

  border-bottom: 1px solid #242424;
  margin-bottom: 20px;
}

.nav {
  /* background-color: #f8f9fa; */
  padding: 10px 20px;
}

.list {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.link {
  padding: 7px 7px 2px;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: color 250ms ease-in-out;
}

.link:hover {
  color: #007bff;
}

.active {
  color: #007bff;
  font-weight: 600;
  border-bottom: 2px solid #007bff;
}
